body{
    height: 100vh;
    background-image: url('../img/quiz-bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
li.list-group-item:hover{
    transform: scale(1.01);
    background-color: #5c81e6 !important;
}
.selected{
    background-color: #e65c5c !important; 
}
.card{
    box-shadow: -6px 8px 20px 5px;
    background-color: #e5eaead9;
    width: 100%; 
}
li.list-group-item{
    background-color: #dae0e5;
}

